@model IEnumerable<BookStore.Models.Book>

@{
    ViewData["Title"] = "List Books";
}

<h1>List Books</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-bordered text-center">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatePublished)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
        Category Name
        <th>
            Image
        </th>
        <th>
            Function
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td style="max-width: 300px; text-overflow: ellipsis;">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePublished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <img src="~/images/@item.ImagePath" width="100" height="100" style="object-fit: cover"/>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">
                    <i class="fa-regular fa-pen-to-square"></i>
                </a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">
                    <i class="fa-solid fa-circle-info"></i>
                </a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>