@model IEnumerable<BookStore.Models.Book>
@using Microsoft.AspNetCore.Identity

<style>
    .container{
        padding-top: 0!important;
    }
</style>

<h2 class="my-4">Store</h2>
<div class="row mb-4">
    <div class="col-md-5">
        <form asp-action="Index" class="my-1 p-2">
            <div class="d-flex align-items-center gap-2">
                <span class="ml-2">Search Book: </span>
                <input type="text" name="searchString" placeholder="Title or Author" class="form-control-sm"/>
                <input type="Submit" value="Search" class="btn btn-primary btn-sm ml-2"/>
                <a asp-action="Index" class="btn btn-secondary btn-sm ml-2">Clear</a>
            </div>
        </form>
    </div>
    <div class="col-md-7">
        <form asp-action="Index" class="my-1 p-2">
            <div class="d-flex align-items-center justify-content-end gap-2">
                <span class="ml-2">Filter Book: </span>
                <div class="ml-2">
                    <input type="number" name="minPrice" step="1" placeholder="$min" class="form-control-sm"/>
                    <input type="number" name="maxPrice" step="1" placeholder="$max" class="form-control-sm"/>
                </div>
                <input type="Submit" value="Filter" class="btn btn-primary btn-sm ml-2"/>
                <a asp-action="Index" class="btn btn-secondary btn-sm ml-2">Clear</a>
            </div>
        </form>
    </div>
</div>

<div class="row">
    @foreach (var book in Model)
    {
        <div class="col-3 mt-3">
            <div class="card store-card">
                <a class="a-cleanup" asp-controller="Store" asp-action="Details" asp-route-id="@book.Id">
                    <img src="~/images/@book.ImagePath" class="card-img-top card-img-custom"/>
                    <div class="card-body" style="height: 6em;">
                        <h8 class="mb-3">@book.Title</h8>
                        <p class="text-author">Author: @book.Author</p>
                    </div>
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <span class="card-text">Price: @book.Price $</span>
                        <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@book.Id" class="btn btn-light store-btn-1">
                            <i class="fa-solid fa-cart-plus"></i>
                        </a>
                    </div>
                </a>
            </div>
        </div>
    }
</div>  