@model BookStore.Models.Order

<h1>Thank you for your order!</h1>
<h5 class="mt-5">Order Id: @Model.Id</h5>
<div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead>
            <tr>
                <th>FullName</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Image</th>
                <th>Book</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.OrderItems)
            {
                var bookTotal = item.Book.Price * item.Quantity;
                <tr>
                    <td>@Model.FullName</td>
                    <td>@Model.PhoneNumber</td>
                    <td>@Model.Address</td>
                    <td>
                        <a class="a-cleanup" asp-controller="Store" asp-action="Details" asp-route-id="@item.Id">
                            <img src="~/images/@item.Book.ImagePath" style="height: 4em"/>
                        </a>
                    </td>
                    <td>
                        <a class="a-cleanup" asp-controller="Store" asp-action="Details" asp-route-id="@item.Id">@item.Book.Title
                        </a>
                    </td>
                    <td>
                        @bookTotal $
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                </tr>
            }
            </tbody>
            <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="2"></td>
                <td class="text-right">
                    <strong>Total: </strong>
                </td>
                <td>
                    <strong>@Model?.OrderTotal $</strong>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>