@model BookStore.Models.Order

<h1>Thank you for your order!</h1>
<h5 class="mt-5">Order Id: @Model.Id</h5>
<div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <th>Book</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.OrderItems)
            {
                var bookTotal = item.Book.Price * item.Quantity;
                <tr>
                    <td>
                        <a class="a-cleanup" asp-controller="Store" asp-action="Details" asp-route-id="@item.Id">
                            <img src="~/images/@item.Book.ImagePath" style="height: 4em"/>
                        </a>
                    </td>
                    <td>
                        <a class="a-cleanup" asp-controller="Store" asp-action="Details" asp-route-id="@item.Id">@item.Book.Title
                        </a>
                    </td>
                    <td>
                        @bookTotal.ToString("c")
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        <a asp-controller="Cart" asp-action="RemoveFromCart" asp-route-id="@item.Book.Id" class="text-danger"><i class="fa-solid fa-xmark"></i></a>
                    </td>
                </tr>
            }
            </tbody>
            <tfoot>
            <tr>
                <td colspan="2"></td>
                <td class="text-right">
                    <strong>Total: </strong>
                </td>
                <td>
                    <strong>@Model?.OrderTotal.ToString("c")</strong>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>