@model IEnumerable<BookStore.Models.Order>

@{
    ViewData["Title"] = "List Order";
}

<h1>List Order</h1>

<table class="table table-bordered text-center">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            OrderItems
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderPlaced)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderTotal)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <table class="table">
                    <thead>
                    <tr>
                        <th>BookId</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var orderItem in item.OrderItems)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => orderItem.BookId)</td>
                            <td>@Html.DisplayFor(modelItem => orderItem.Quantity)</td>
                            <td>@Html.DisplayFor(modelItem => orderItem.Price)</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderPlaced)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTotal)
            </td>
        </tr>
    }
    </tbody>
</table>