@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Tooplate's Little Fashion</title>
    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="css/slick.css"/>
    <link rel="stylesheet" href="css/footer.css"/>
    <link href="css/tooplate-little-fashion.css" rel="stylesheet">
    <!--
    Tooplate 2127 Little Fashion
    https://www.tooplate.com/view/2127-little-fashion
    -->
</head>
<body>
<section class="preloader">
    <div class="spinner">
        <span class="sk-inner-circle"></span>
    </div>
</section>
<main>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">
                <strong><span>Book</span> Store</strong>
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Store" asp-action="Index">Store</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Admin">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Index">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
                    </li>
                </ul>
                <div class="d-none d-lg-block position-relative">
                    <a href="#" id="signInDropdown" onmouseenter="showSignInMenu()" onmouseleave="hideSignInMenu()" class="bi-person custom-icon me-3"></a>
                    <div id="signInMenu" class="dropdown-menu" style="display: none; position: absolute; top: 100%; right: 0; min-width: 200px; padding: 10px; background-color: #fff; box-shadow: 0 0 10px rgba(0,0,0,0.1); border: 1px solid #ccc; z-index: 100;">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
                            </li>
                            <li class="nav-item">
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            </li>
                        }
                    </div>
                    <a href="/Cart" class="bi-bag custom-icon"></a>
                </div>
            </div>
        </div>
    </nav>
    <section class="slick-slideshow">
        <div class="slick-custom">
            <img src="images/slides/slide01.png" class="img-fluid" alt="">
            <div class="slick-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-10">
                            <h1 class="slick-title">FPT Shop</h1>
                            <a asp-area="" asp-controller="Store" asp-action="Index" class="btn custom-btn">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slick-custom">
            <img src="images/slides/slide02.png" class="img-fluid" alt="">
        </div>
    </section>
    <section class="featured-product section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="mb-5">Featured Products</h2>
                </div>
                <div class="row">
                    @foreach (var book in Model)
                    {
                        <div class="col-3">
                            <div class="card">
                                <a asp-controller="Store" asp-action="Details" asp-route-id="@book.Id">
                                    <img src="~/images/@book.ImagePath" width="294" height="250" style="object-fit: cover"/>
                                    <div class="card-body" style="height: 6em;">
                                        <h5 class="mb-3">@book.Title</h5>
                                    </div>
                                    <div class="card-body">
                                        <span class="card-text">@book.Price.ToString("c")</span>
                                        <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@book.Id" class="btn btn-primary float-right">
                                            <i class="fa-solid fa-cart-plus"></i>
                                        </a>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-12 text-center">
                    <a href="/Store" class="view-all">View All Products</a>
                </div>

            </div>
        </div>
    </section>
</main>
<section>FPT Book Store</section>
<footer class="footer-distributed">
    <div class="footer-left">
        <h3>Company<span>logo</span></h3>
        <p class="footer-links">
            <a href="#">Home</a>
            ·
            <a href="#">Blog</a>
            ·
            <a href="#">Pricing</a>
            ·
            <a href="#">About</a>
            ·
            <a href="#">Faq</a>
            ·
            <a href="#">Contact</a>
        </p>
        <p class="footer-company-name">Company Name © 2015</p>
        <div class="footer-icons">
            <a href="#">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="#">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="#">
                <i class="fa fa-linkedin"></i>
            </a>
            <a href="#">
                <i class="fa fa-github"></i>
            </a>
        </div>
    </div>
    <div class="footer-right">
        <p>Contact Us</p>
        <form action="#" method="post">
            <input type="text" name="email" placeholder="Email">
            <textarea name="message" placeholder="Message"></textarea>
            <button>Send</button>
        </form>
    </div>
</footer>
<!-- JAVASCRIPT FILES -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/Headroom.js"></script>
<script src="js/jQuery.headroom.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/custom.js"></script>
<script>
    function showSignInMenu() {
        document.getElementById("signInMenu").style.display = "block";
    }
    function hideSignInMenu() {
        // Use a setTimeout to delay hiding the menu
        setTimeout(function () {
            document.getElementById("signInMenu").style.display = "none";
        }, 5000); // Adjust the delay as needed
    }
</script>
</body>
</html>