@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<style>
    .login-page{
        padding: 50px 0;
    }
    
    .sign-in-form-1{
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        padding: 50px 30px;
    }
    
    .btn{
        background: transparent;
        border: 1px solid #d0d1d1;
        border-radius: 50px;
        color: #000;
        text-transform: none;
        width: 368px;
        height: 59px;
        margin-bottom: 24px;
    }
    
    .div-separator {
        position: relative;
    }
    
    .div-separator::before {
        content: "";
        height: 1px;
        background: #d0d1d1;
        display: block;
        width: 100%;
    }
    
    .div-separator span {
        position: absolute;
        top: 50%;
        margin-left: -22.5px;
        left: 50%;
        text-align: center;
        background: white;
        margin-top: -11px;
        color: #000;
        font-weight: 600;
        font-size: 14px;
        width: 35px;
        text-transform: uppercase;
    }
    
    .btn:hover{
        background: #5ea6ea;
        border: 1px solid #5ea6ea;
    }
    
    .text-login{
        color: #000;
        font-size: 16px;
        font-weight: 300;
        text-decoration: none;
    }
    
    .box-1{
        margin-top: 20px;
        border: 1px solid #d0d1d1;
        border-radius: 16px;
        padding: 8px 12px;
        display: inline-block;
        margin-left: 10px;
    }
    
</style>

<div class="login-page">
    <section class="sign-in-form section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto col-12 sign-in-form-1">
                    <h1 class="hero-title text-center mb-5">Sign In</h1>

                    <div class="social-login d-flex flex-column w-50 m-auto">

                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins!)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    </div>

                    <div class="div-separator w-50 m-auto my-5">
                        <span>or</span>
                    </div>

                    <div class="row">
                        <div class="col-lg-8 col-11 mx-auto">
                            <form id="account" method="post">

                                <div class="form-floating">
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                                    <label asp-for="Input.Email" class="form-label">Email</label>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>

                                <div class="form-floating my-4">
                                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password"/>
                                    <label asp-for="Input.Password" class="form-label">Password</label>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>

                                <div class="checkbox mb-3">
                                    <label asp-for="Input.RememberMe" class="form-label">
                                        <input class="form-check-input" asp-for="Input.RememberMe"/>
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>

                                <div class="text-center">
                                    <button id="login-submit" type="submit" class="btn custom-btn form-control mt-4 mb-3">
                                        Login
                                    </button>
                                </div>

                                <div class="text-center">
                                    <div class="box-1">
                                        <a class="text-login" id="forgot-password" asp-page="./ForgotPassword">
                                            Forgot your password?
                                            <i class="fa-solid fa-key" style="color: black"></i>
                                        </a>
                                    </div>
                                    <div class="box-1">
                                        <a class="text-login" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">
                                            Register as a new user
                                            <i class="fa-solid fa-user-pen" style="color: green"></i>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}