@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<style>
    .register-page{
        padding: 50px 0;
    }
    
    .sign-in-form-1{
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        padding: 50px 30px;
    }
    
    .btn{
        background: transparent;
        border: 1px solid #d0d1d1;
        border-radius: 50px;
        color: #000;
        text-transform: none;
        width: 368px;
        height: 59px;
        margin-bottom: 24px;
    }
    
    .div-separator {
        position: relative;
    }
    
    .div-separator::before {
        content: "";
        height: 1px;
        background: #d0d1d1;
        display: block;
        width: 100%;
    }
    
    .div-separator span {
        position: absolute;
        top: 50%;
        margin-left: -22.5px;
        left: 50%;
        text-align: center;
        background: white;
        margin-top: -11px;
        color: #000;
        font-weight: 600;
        font-size: 14px;
        width: 35px;
        text-transform: uppercase;
    }
    
    .btn:hover{
        background: #5ea6ea;
        border: 1px solid #5ea6ea;
    }
    
    .text-login{
        color: #000;
        font-size: 16px;
        font-weight: 300;
        text-decoration: none;
    }
    
    .box-1{
        margin-top: 20px;
        border: 1px solid #d0d1d1;
        border-radius: 16px;
        padding: 8px 12px;
        display: inline-block;
        margin-left: 10px;
    }
    
</style>

<div class="register-page">
    <section class="sign-in-form section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto col-12 sign-in-form-1">
                    <h1 class="hero-title text-center mb-5">Sign Up</h1>

                    <div class="social-login d-flex flex-column w-50 m-auto">

                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins!)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    </div>

                    <div class="div-separator w-50 m-auto my-5">
                        <span>or</span>
                    </div>

                    <div class="text-center mb-4">
                        <h2>Create a new account</h2>
                    </div>

                    <div class="row">
                        <div class="col-lg-8 col-11 mx-auto">
                            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.FirstName" class="form-control" autocomplete="FirstName" aria-required="true" placeholder="FirstName Name"/>
                                    <label asp-for="Input.FirstName">FirstName</label>
                                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.LastName" class="form-control" autocomplete="LastName" aria-required="true" placeholder="LastName Name"/>
                                    <label asp-for="Input.LastName">LastName</label>
                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                                    <label asp-for="Input.Email">Email</label>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Address" class="form-control" autocomplete="Address" aria-required="true" placeholder="Address"/>
                                    <label asp-for="Input.Address">Address</label>
                                    <span asp-validation-for="Input.Address" class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.ZipCode" class="form-control" autocomplete="ZipCode" aria-required="true" placeholder="ZipCode"/>
                                    <label asp-for="Input.ZipCode">ZipCode</label>
                                    <span asp-validation-for="Input.ZipCode" class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.City" class="form-control" autocomplete="City" aria-required="true" placeholder="City"/>
                                    <label asp-for="Input.City">City</label>
                                    <span asp-validation-for="Input.City" class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password"/>
                                    <label asp-for="Input.Password">Password</label>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password"/>
                                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>

                                <div class="text-center">
                                    <button id="registerSubmit" type="submit" class="btn custom-btn form-control mt-4 mb-3">
                                        Register
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}